@font-face {
    font-family: 'helvetica_thin';
    src: url('../Assets/Fonts/webfontkit-20190823-220243/helveticaneue-thin-webfont.woff2') format('woff2'),
         url('../Assets/Fonts/webfontkit-20190823-220243/helveticaneue-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'helvetica_bold';
    src: url('../Assets/Fonts/webfontkit-20190823-220243/helveticaneue-black-webfont.woff2') format('woff2'),
         url('../Assets/Fonts/webfontkit-20190823-220243/helveticaneue-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
    margin: 0px;
    width: 100%;
    margin-bottom: 1000px;
}

#banner {
    width: 100%;
    float: left;
}

#brewhouselogo {
    width: 18%;
    z-index: 2;
    margin-left: 7%;
    position: absolute;
}

#headerimage {
    width: 100%;
    z-index: 1;
    position: absolute;
}

#orangebox {
    width: 100%;
    float: left;
    z-index: 1;
    position: absolute;
    margin-top: 42%;
    height: 50%;
    background-color: #ff9600;
}

#toph1 {
    font-family: 'helvetica_bold';
    color: #ffffff;
    font-size: 7em;
    float: left;
    z-index: 3;
    position: absolute;
    margin-left: 27.5%;
    margin-top: 7%;
    letter-spacing: 3px;
}

#paleale {
    font-family: 'helvetica_thin';
    letter-spacing: 2px;
    color: #ff9600;
    font-size: 2em;
    float: left;
    z-index: 3;
    position: absolute;
    margin-left: 49%;
    margin-top: 13.5%;
}

#barleylogo {
    width: 50%;
    float: left;
    margin-top: -10%;
    margin-left: 42%;
    z-index: 2;
    position: absolute;
}

#beercan {
    width: 20%;
    float: left;
    margin-top: -6%;
    margin-left: 77%;
    z-index: 3;
    position: absolute;
}

#happyman {
    width: 100%;
}