/*FONTS*/
@font-face {
    font-family: 'helvetica_thin';
    src: url('../Assets/Fonts/webfontkit-20190823-220243/helveticaneue-thin-webfont.woff2') format('woff2'),
         url('../Assets/Fonts/webfontkit-20190823-220243/helveticaneue-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'helvetica_bold';
    src: url('../Assets/Fonts/webfontkit-20190823-220243/helveticaneue-black-webfont.woff2') format('woff2'),
         url('../Assets/Fonts/webfontkit-20190823-220243/helveticaneue-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'helvetica_neueregular';
    src: url('../Assets/Fonts/webfontkit-20190824-210721/helveticaneue-roman-webfont.woff2') format('woff2'),
         url('../Assets/Fonts/webfontkit-20190824-210721/helveticaneue-roman-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/*ELEMENT TAGS*/
body {
    margin: 0px;
    width: 100%;
    margin-bottom: 180%;
}

/*THE ASSETS THAT ARE IN THE MAIN BANNER*/
#banner {
    width: 100%;
    float: left;
}

#brewhouselogo {
    width: 18%;
    z-index: 2;
    margin-left: 7%;
    margin-right: 93%;
    position: absolute;
}

#headerimage {
    width: 100%;
    z-index: 1;
    position: absolute;
}

/*ASSESTS WITHIN THE ORANGE BOX*/
#orangebox {
    width: 100%;
    float: left;
    z-index: 1;
    position: absolute;
    margin-top: 42%;
    height: 27vw;
    background-color: #ff9600;
}

#orangebox h1 {
    font-family: 'helvetica_bold';
    color: #ffffff;
    font-size: 6.5vw;
    float: left;
    z-index: 3;
    position: absolute;
    margin-left: 25%;
    margin-top: 7%;
    letter-spacing: 3px;
}

#orangebox h2 {
    font-family: 'helvetica_thin';
    letter-spacing: 2px;
    color: #ff9600;
    font-size: 2.5vw;
    float: left;
    z-index: 3;
    position: absolute;
    margin-left: 46.25%;
    margin-top: 14.5%;
}

#orangebox span {
    background-color: #ff9600;
    width: 5px;
    height: 16.5vw;
    float: left;
    z-index: 3;
    position: absolute;
    margin-left: 61%;
    margin-top: 16%;
}

#barleylogo {
    width: 50%;
    float: left;
    margin-top: -10%;
    margin-left: 42%;
    margin-right: 58%;
    z-index: 2;
    position: absolute;
}

#beercan {
    width: 20%;
    float: left;
    margin-top: -6%;
    margin-left: 77%;
    margin-right: 23%;
    z-index: 3;
    position: absolute;
}

#orangebox p {
    font-family: 'helvetica_thin';
    color: #ff9600;
    font-size: 2.5vw;
    float: left;
    z-index: 3;
    position: absolute;
    margin-left: 73%;
    margin-top: 25%;
    border-radius: 200px 200px 200px 200px;
    -moz-border-radius: 200px 200px 200px 200px;
    -webkit-border-radius: 200px 200px 200px 200px;
    border: 2px solid #ff9600;
    padding: 1%;
}

/*ABOUT SECTION ASSETS*/
#about {
    width: 100%;
    z-index: 1;
    position: absolute;
    float: left;
    margin-top: 80%;
}

#about h1 {
    font-family: 'helvetica_bold';
    font-size: 9vw;
    opacity: 0.05;
    float: left;
    margin-left: 20%;
    z-index: 1;
    position: absolute;
    color: #3f4c65;
    margin-top: 2%;
}

#about p {
    font-family: 'helvetica_neueregular';
    width: 55%;
    font-size: 2.5vw;
    opacity: .6;
    float: left;
    z-index: 2;
    position: absolute;
    margin-left: 33.5%;
    margin-top: 7.5%;
}

#about a {
    background-color: #3f4c65;
    width: 32%;
    float: left;
    color: #ffffff;
    font-family: 'helvetica_neueregular';
    font-weight: 100;
    text-align: right;
    padding: .25%;
    padding-right: .75%;
    z-index: 2;
    position: absolute;
    margin-left: 51.5%;
    margin-top: 22%;
    text-decoration: none;
    font-size: 2.5vw;
}

#about a:hover {
    color: #ff9600;
    text-decoration: underline;
}

/*ASSETS WITH THE HAPPY MAN SECTION*/
#theprocess {
    width: 100%;
    z-index: 1;
    position: absolute;
    float: left;
    margin-top: 110%;
}

#happyman {
    width: 100%;
    z-index: 1;
    position: absolute;
    float: left;
}

#theprocess h1 {
    font-family: 'helvetica_bold';
    font-size: 9vw;
    opacity: 0.4;
    float: left;
    margin-left: 45%;
    z-index: 3;
    position: absolute;
    color: #ffffff;
    margin-top: 23%;
    line-height: 100%;
}

#theprocess p {
    background-color: #3f4c65;
    width: 50%;
    float: left;
    color: #ffffff;
    font-family: 'helvetica_neueregular';
    z-index: 2;
    position: absolute;
    font-size: 2.5vw;
    padding: 3%;
    padding-top: 7%;
    margin-top: 39%;
    margin-left: 36%;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
    div {
        display: none;
    }

    body {
        background-color: purple; 
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
    div {
        display: none;
    }

    body {
        background-color: green; 
    }
}